<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        #principal {
            margin: 50px 150px 50px 250px;
            text-align: left;
        }

        #titulo_zapatos {
            color: #245FAD;
            margin: 45px 30px 20px 30px;
            text-align: center;
        }

        #botones {
            margin-top: 20px;
            text-align: right;
        }

        #btn_actualizar {
            color: #FFFFFF;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-lg-12">
        <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/shoes/clientes">Clientes</a>
            <a class="navbar-brand" href="/shoes/compras">Compras</a>
            <a class="navbar-brand" href="/shoes/zapatos">Zapatos</a>
        </nav>
    </div>
    <%const c = arregloZapatos.find(zapato=> zapato.codigoZap= codigoZap)%>

    <div class="row">
        <div id="titulo_zapatos" class="col-lg-12"><h1>Actualizar zapato</h1></div>
    </div>
    <form action="/shoes/zapatos/actualizar" method="post">
        <div id="principal" class="row justify-content-md-center">
            <input type="hidden" name="_method" value="PUT">
            <input id="codigoZap" type="text" name="codigoZap" value="<%= c.codigoZap %>" hidden>
            <div class="col-lg-4">
                <label for="marcaID">Marca</label>
            </div>
            <div class="col-lg-8">
                <input id="marcaID" class="form-control" name="marca" type="text" value="<%= c.marca %>" required>
            </div>
            <div class="col-lg-4">
                <label for="colorID">Color</label>
            </div>
            <div class="col-lg-8">
                <input id="colorID" class="form-control" name="color" type="color" value="<%= c.color%>" required>
            </div>
            <div class="col-lg-4">
                <label for="tallaID">Talla</label>
            </div>
            <div class="col-lg-8">
                <input id="tallaID" class="form-control" name="talla" type="number" value="<%= c.talla %>" min="20" max="43" step="1" required>
            </div>
            <div class="col-lg-4">
                <label for="tipoID">Tipo</label>
            </div>
            <div class="col-lg-8">
                <select id="tipoID" class="form-control" name="tipo" type="text" value="<%= c.tipo %>" required>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label for="cantidadID">Cantidad</label>
            </div>
            <div class="col-lg-8">
                <input id="cantidadID" class="form-control" name="cantidad" type="number" value="<%= c.cantidad %>"required>
            </div>
            <div class="col-lg-4">
                <label for="precioID">Precio</label>
            </div>
            <div class="col-lg-8">
                <input id="precioID" class="form-control" name="precio" type="number"  value="<%= c.precio %>" step="0.01" required>
            </div>
            <div id="botones" class="col-lg-12">
                <button id="btn_actualizar" type="submit" class="btn btn-warning">Agregar cambios</button>
                <a href="/shoes/zapatos">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>